img {
    border: solid
}

.md-typeset h1 {
    /*font-size: 24pt;*/
    font-weight: bold;
    border-bottom: solid 2px #1a69d2;
    padding-bottom: 5px;
}
  .md-typeset h2 {
    border-bottom: 1px dotted #888;
}

/* Material テーマの場合 */
.md-typeset h2::before {
    display: inline-block !important;
    font-family: "FontAwesome";
    content: "\f35a" !important;
    margin-right: .3em;
}